:root {
    --clr-light: #eee;
    --clr-primary: rebeccapurple;
    --clr-secondary: #8b0303;
}
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Courier New", monospace;
    font-size: 16px;
    background-color: var(--clr-light);
}

/***** styles for index page ******/

.content-wrapper {
    max-width: 600px;
    margin: 0 auto;
}

.center {
    margin-top: 45%;
}

.logo {
    font-size: 3rem;
    color: var(--clr-primary);
    text-align: center;
    margin: 0 auto;
    width: 80%;
}

.recipes-nav {
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
    width: 80%;
}

.nav-list li{
    display: inline-block;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
}

.nav-list li:hover  {
    background-color: #eeeeee25;
}

.nav-list li a:hover {
    color: var(--clr-secondary);
    
}
.nav-list a {
    text-decoration: none;
}


/**** styles for recipes pages ****/

.nav-bar {
    padding: 24px 0;
}

.card {
    margin: 0 auto;
    max-width: 400px;
    background-color: #fff;
    border-radius: 10px;
}
.card > * {
    width: 100%;
}

.card > h1 {
    text-align: center;
    padding: 16px 0;

}

.card > h3, .card p {
    padding: 10px;
}

.nav-link {
    text-decoration: none;
    padding: 10px;
    color: var(--clr-secondary);
   
}

.nav-link:hover {
    text-decoration: underline;
}
.description {
    line-height: 1.5em;
}

.details {
    width: 100%;
    margin: 48px 0;

}

.details > ul, .details > ol {
    width: 90%;
    margin: 0 auto;
}

.details h2 {
    margin: 16px 0;
    padding-left: 12px;
}
.list {
    padding-left: 12px;
}

.list li {
    padding: 4px 0;
}
.ordered-list li {
    list-style-type: decimal;
}

