body {
    font-family: "Courier New", monospace;
    font-size: 16px;
    background-color: #eee;
}

/***** index page ******/

.content-wrapper {
    max-width: 600px;
    margin: 0 auto;
}

.center {
    margin-top: 45%;
}

.logo {
    font-size: 3rem;
    color: rebeccapurple;
    text-align: center;
    margin: 0 auto;
    width: 80%;
}

.recipes-nav {
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
    width: 80%;
}

.nav-list li{
    display: inline-block;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
}

.nav-list li:hover  {
    background-color: #eeeeee25;
}

.nav-list li a:hover {
    color: #8b0303;
    
}
.nav-list a {
    text-decoration: none;
}





.nav-link {
    text-decoration: none;
    padding: 10px;
}

.nav-link:hover {
    text-decoration: underline;
}
.description {
    line-height: 1.5em;
}

.recipe {
    background-color: rgb(172, 172, 68);
}

.ordered-list li {
    list-style-type: decimal;
}

